.calc {
    background: green;
    border: 5px solid darkgreen;
    width: 220px;
    height: 250px;
    padding: 5px;
    
}

.key, .output  {
    border: 1px solid darkgreen;
    color: darkblue;
}

.key {
    display: inline-block;
    background: darkcyan;
    width:40px;
    height: 40px;
    margin:3px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    box-shadow: 2px 2px 2px darkgreen;
}

.key:hover {
    background: rgb(0, 192, 192);
}

.keys {
    width: 205px;
    margin: 5px auto;
    box-sizing: border-box;
}

.output {
    min-width: 145px;
    min-height: 50px;
    background: lightblue;
    margin: 5px auto;
    padding: 10px 5px;
    box-sizing: border-box;
    text-align: right;
    box-shadow: 2px 2px 3px darkcyan inset;
}